.animal{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  margin:0;
}
.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter:grayscale(100%);
}
.invertir-colores{
  -webkit-filter:invert(.8);
  filter: invert(.8);
}
.sepia{
  -webkit-filter:sepia(1);
  filter: sepia(1);
}
div{
  padding: 10px;
}
